$font: 'Montserrat', sans-serif;

@font-face {
  font-family: 'Montserrat';
  src: url('@/shared/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ebebeb;
  color: #242424;
  font-family: $font;
}

input[type='password'],
input[type='text'] {
  border-radius: 5px;
  padding: 4px;
  border: 1px solid #0000001e;
  font-size: 18px;
  outline: none;
  font-family: $font;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
