$font: 'Montserrat', sans-serif;

//@font-face {
//  font-family: 'Montserrat';
//  src: url('/_fonts/Montserrat-Regular.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ebebeb;
  color: #242424;
  font-family: $font;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark {
  color: white;
  background-color: #111111;
}

input[type='password'],
input[type='text'] {
  border-radius: 5px;
  padding: 4px;
  border: 1px solid #0000001e;
  font-size: 18px;
  outline: none;
  font-family: $font;
}