.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #151515aa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 3;

  /* Скрыть скролл */
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* Для IE и Edge */
  scrollbar-width: none; /* Для Firefox */

  .modal-form__box {
    padding: 2%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    @media (max-width: 900px) {
      width: 100%;
      height: 100vh;
      border-radius: 0px;
    }
  }
}
