.button {
  @apply bg-default 
  text-white
  rounded-lg 
  transition-all 
  ease-out 
  duration-100 
  p-2
  hover:bg-[#242424e7] 
  text-[16px] 
  flex 
  justify-center 
  items-center;
  &_danger {
    @apply bg-[#299fff] 
    hover:bg-[#167ed3] 
    active:bg-[#6fbeff];
  }
}