.button {
  @apply bg-default 
  text-white
  transition-all 
  ease-out 
  duration-100 
  p-2
  hover:bg-[#242424e7] 
  text-[16px] 
  flex 
  justify-center 
  items-center;
  &_primary {
    @apply bg-[#279eff] 
    hover:bg-[#50b0ff]
  }
  &_danger {
    @apply bg-[#f00] 
    hover:bg-[#ff4f4f]
  }
}