.chart {
  height: 200px;
  width: 200px;
}

table {
  margin-top: 2%;
  width: 150%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
th {
  background-color: #f4f4f4;
}