.search-input {
  border-radius: 20px;
  padding: 15px;
  font-size: 18px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;;
  
  &:focus {
    outline: 1px solid #323232;
  }
}