@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #06C;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

input[type="password"],
input[type="text"],
select {
	border-radius: 10px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

select {
	background-color: #0054A8;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

section {
	height: 100%;
}

img {
	cursor: pointer;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}

.v-enter-active,
.v-leave-active {
	transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}